.App {
  padding-top: 4rem;
  background-color: #fda038;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.navbar{
  background: linear-gradient(-45deg, #441102, #ec563d, #671212, #ec563d);
  color: #f2f2f2;
  
}
.row{

  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  margin: 15px;
  
  padding: 25px;
  padding-top: 7rem;
  
  row-gap: 5px;
}
